body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li.completed .task-content {
    text-decoration: line-through;
    color: #888;
}

.task-content {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button.edit, button.delete, button.complete {
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

button.edit {
    background-color: purple;
}

button.delete {
    background-color: #d9534f;
}

button.complete {
    background-color: purple;
}
